body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1B4332;
  
}
header{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: xx-large;
  color: #081C15;
  text-shadow:0 0 13px #D8F3DC;
}
img{
  border-radius: 50%;
  height: 200px;
  width: 200px;
  box-shadow: #1B4332;
}

.btn{
  width: 250px;
  background-color: #52B788;
  font-family:monospace;
  color: #081C15;
  font-weight: bold;
  border: 5px solid #081C15;
  margin: 5px;
}
.btn :hover{
  background-color: #1B4332;
}
